<p>Ficha de Carga -Automovil-</p>
<form [formGroup]='automovilForm' (ngSubmit)=submit()>

    

    <div class="datosAutomovil">
        <mat-form-field appearance="fill">
            <mat-label>Marca</mat-label>
            <input type="text" formControlName="marca" matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Año</mat-label>
            <input type="text" formControlName="año" matInput>
          </mat-form-field>
       
    </div>

    <div formGroupName="datosTecnicos" class="datosTecnicos">
        <h3>Datos Tecnicos</h3>

        <mat-form-field appearance="fill">
            <mat-label>Vehiculo Funcionando?</mat-label>
            <input type="text" formControlName="enMarcha" matInput>
          </mat-form-field>
           
            <mat-form-field appearance="fill">
                <mat-label>Ultimo Servicio</mat-label>
                <input type="text" formControlName="ultimoServicio" matInput>
              </mat-form-field>
       
    </div>

    <!-- Uso de interpolacion-->
    <p>Tipo de motor: {{motor.tipo}}</p>
    <p>Kilometraje del motor: {{motor.kilometraje}}</p>


    <div formArrayName="mecanicosACargo">
        <h3>Mecanicos a cargo del Servicio</h3>
        <div *ngFor="let mecanico of mecanicosACargo.controls; let i = index" class="mecanicosACargo">
            <label>
                Mecanico <input type="text" [formControlName]="i">
            </label>
        </div>
        <button (click)="agregarMecanico()" type ="button" mat-button>Asignar un Mecanico</button>
    </div>

    <button type ="submit" mat-raised-button color="primary">Guardar</button>

</form>
