<p>Informe de -Taller Works-</p>

<div>
    <h4>Property Binding</h4>
    <img [src]="fotoTaller" [title]="tooltip" [width]="anchoImg" [height]="altoImg">
</div>

<div>
    <h4>Event Binding</h4>
    <button (click)="verMotor(motorPrueba)">Ver Motor en servicio</button>
</div>

<div>
    <h4>Two way Data Binding</h4>
    <!-- Aca usamos pipes con uppercase-->
    
    <mat-form-field class="example-form-field">
        <mat-label>Ingresar nombre cliente</mat-label>
        <input matInput [(ngModel)]="cliente">
        <button mat-button *ngIf="cliente" matSuffix mat-icon-button aria-label="Clear" (click)="cliente=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <p>{{cliente | uppercase}} </p>
</div>

<ul *ngIf=true>
    <li *ngFor="let motor of motores">
        <!-- Directiva *ngFor que itera sobre el array -->
        Tipo de Motor: {{motor.tipo | lowercase}}
        Kilometraje: {{motor.kilometraje}}
    </li>
</ul>

<app-mecanico [tallerHijo]="tallerPadre" (horario)="onHorario($event)"></app-mecanico>

El horario de atencion es: {{horario}}